@page "/clientes"

<h3>Clientes</h3>

<p>
    <a href="/novocliente">Criar Novo cliente</a>
</p>
@if (clientes is null)
{
    <h3>Sem clientes</h3>
}
else
{
    <div class="row">
        @foreach (var cliente in clientes)
        {
            <ClientesCard Cliente="@cliente" />
        }
    </div>
}

@code {
    IEnumerable<Cliente>? clientes;
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(800);
        clientes = await ClienteRepository.ObterClientes();
    }
} 